# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.idea
.pytest_cache


# Git
.gitignore
.git

# Virtual env
.venv/

# Data
data/*
!data/.gitkeep

# Others
SAVED/

outputs/convertion_rate_crsp_tickers_to_ib_tickers.png
outputs/prices_coverage_ib_over_crsp_universe.png
outputs/plots_saved

outputs/figures/*
!outputs/figures/.gitkeep

outputs/logs/*
!outputs/logs/.gitkeep

outputs/reports/*
!outputs/reports/.gitkeep

!outputs/.gitkeep

sandbox.txt
wrds_requests.txt
aws_credentials.txt

# Secrets
.env


#!outputs/logger.log