.venv/
.idea/

data/*
!data/.gitkeep

SAVED/

outputs/convertion_rate_crsp_tickers_to_ib_tickers.png
outputs/prices_coverage_ib_over_crsp_universe.png
outputs/plots_saved
#!outputs/figures/.gitkeep
#!outputs/logs/.gitkeep
#!outputs/reports/.gitkeep
#!outputs/.gitkeep
#!outputs/logger.log

sandbox.txt
wrds_requests.txt
aws_credentials.txt


